.contact {
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.contact-us {
    flex-basis: 48%;
}

.contact-us h3{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-us h3 img {
    width: 35px;
    margin-left: 10px;
}

.contact-us p {
    max-width: 450px;
    list-style: 0.3;
}

.contact-us ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact-us ul li img {
    width: 25px;
    margin-right: 10px;
}

.contact form input, .contact form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}